<div id="container">
	<div id="inner">
		<h1>Are you sure?</h1>
		<p><%= @notice %></p> 
		<form action="" method="POST" id="survey_entries">
			<p>
				Password: <input name="password" type="password" /> 
				<button name="reset" value="Yes!">Yes!</button>
			</p>
		</form>
	</div>
</div>